CHAT_DEBUG_LOG=false

# load balancer
SERVER_TIMEOUT_MS=1200
REDISTRIBUTE_THRESHOLD=0.95
BLACKLIST_REMOVAL_TIMEOUT_MS=10000

# test harness vars
LOAD_BALANCER_URL=http://localhost:3000
CHATTER_COUNT=2000
CHAT_ROOM_COUNT=1
MESSAGE_INTERVAL_MIN_MS=5000
MESSAGE_INTERVAL_MAX_MS=25000
INITIAL_CONNECT_STAGGER_MS=100
RECONNECT_DELAY_MS=500